body{
	background-color:#f0e0ca!important;
	margin:0;
	padding:0;
    font-size: 20px;
    font-family: "omnes-pro",sans-serif;
    color: #3c2313;
}

a, a:hover, a:focus, a:active {
    color: #3c2313;
    font-weight: bold;
}

h1{
    display: none;
}

h2 {
  font-family: "fatfrank",sans-serif;
  margin: 0;
  font-size: 26px;
  padding-bottom: 10px;
}

.hero{
	max-width: 500px;
	margin:50px auto 50px auto;
	text-align: center;
}

.container {
    margin-bottom: 20px;
}

.row{
    margin-bottom: 50px;
}

#one-image {
    height:200px;
    background-image:url("group1.png");
    background-size: contain;
    background-position: center center;
    background-repeat:no-repeat; 
}

#one-text{
    text-align: center;
    padding-top: 20px;
}


#two-image{
    height:200px;
    background-image:url("group2.png");
    background-size: contain;
    background-position: center center;
    background-repeat:no-repeat; 
}

#two-text{
    text-align: center;
    padding-top: 20px;
}

#three-image{
    height:200px;
    background-image:url("group3.png");
    background-size: contain;
    background-position: center center;
    background-repeat:no-repeat; 
}

#three-text{
    text-align: center;
    padding-top: 20px;
}

#four-image{
    height:200px;
    background-image:url("group4.png");
    background-size: contain;
    background-position: center center;
    background-repeat:no-repeat; 
}

#four-text{
    text-align: center;
    padding-top: 20px;
}

#five-image{
    height:200px;
    background-image:url("group5.png");
    background-size: contain;
    background-position: center center;
    background-repeat:no-repeat; 
}

#five-text{
    text-align: center;
    padding-top: 20px;
}

#thanks>.row>img{
    margin-top:50px;
    width:100%;
    height:30%;
}

#thanks .row{
    margin-bottom: 0;
}

footer{
    width:100%!important;
    background-color: #3c2313;
    color:#f0e0ca;
    text-align: center;
}

footer a, footer a:hover, footer a:active, footer a:focus {
    color: #f0e0ca;
    font-weight: bold; 
}

footer .container{
    margin-bottom: 30px; 
    padding-top: 20px;
}

footer .row {
    margin: 0;
}

@media screen and (max-width: 767px) {
    #three-row{
    margin-bottom: 80px;
    }
    #thanks>.row>img{
        margin-top:150px;
    }


}


@media screen and (max-width: 576px) {
    #thanks>.row>img{
        margin-top:200px;
    }
    #two-image{
        margin-top:20px;
        margin-bottom: 20px;
    }
    #four-image{
        margin-top:20px;
        margin-bottom: 20px;
    }

    .hero{
        max-width: 100%;
    }
}



